@import url("../fonts/gilroy/stylesheet.css");
/* general styles */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  font-family: "Gilroy";
  font-style: normal;
}
a:hover {
  text-decoration: none;
}
.container {
  padding: 0;
}
.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 0 5px 2px rgba(222, 68, 54);
}
.marginTop {
  margin-top: 59.34px;
}
/* header */
.header {
  min-height: 100vh;
  position: relative;
}
.headerTop {
  background-color: #262626;
  padding-top: 11px;
  padding-bottom: 12px;
}
.headerTop .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerTop i {
  margin-right: 15px;
}
.mobilePhone {
  display: none;
}
.headerTop a {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #acacac;
}
.headerTop a:hover {
  color: #ffffff;
}
.navigation {
  background-color: #ffffff;
}
.brand1 {
  display: none;
}
.navbar,
.navbar-brand {
  padding: 0;
  margin: 0;
}
.togglerIcon {
  display: block;
  width: 34px;
  height: 2px;
  margin: 10px auto;
  background-color: black;
}
.navbar-nav {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
}
.nav-link:hover {
  color: blue;
}
/* hero */
.hero {
  background-image: url(../img/headerBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-top: 251px;
  padding-bottom: 227px;
  z-index: 1;
}
.hero::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(222, 68, 54, 0.6);
  z-index: -1;
}
.heroTitle {
  font-weight: bold;
  font-size: 64px;
  line-height: 54px;
  text-transform: uppercase;
}
.heroTitle span {
  font-size: 48px;
  line-height: 80px;
}
.heroPara {
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  margin-top: 19px;
  margin-bottom: 30px;
  padding: 0 210px;
}
.heroBtn {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 51px;
  background-color: #363636;
  border-radius: 5px;
}
.heroBtn:hover {
  background-color: transparent;
  color: #ffffff;
  box-shadow: 0 0 5px 3px #363636;
}
.mac {
  position: absolute;
  top: 0;
  left: calc(50% - 468px);
}
.clv {
  position: absolute;
  bottom: -95px;
  left: calc(50% - 465px / 2);
}
.notepad {
  position: absolute;
  width: 374.53px;
  height: 250px;
  left: 140px;
  top: 190px;
}
.spiralNB {
  position: absolute;
  width: 373px;
  height: 319.88px;
  left: 336px;
  top: 400px;
}
.appleMouse {
  position: absolute;
  left: 1240px;
  top: 600px;
}
.iphone7 {
  position: absolute;
  height: 222.05px;
  left: 1440px;
  top: 470px;
}
.coffeCup {
  position: absolute;
  width: 219px;
  height: 219px;
  left: 1457px;
  top: 205px;
}
.headerBottom {
  background-image: url(../img/headerBottomBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  max-height: 160px;
  color: #ffffff;
  padding-top: 43px;
  padding-bottom: 34px;
  text-align: center;
}
.headerBottom .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.headerBottom .title {
  font-weight: 300;
  font-size: 36px;
  line-height: 41px;
}
.headerBottom .title span {
  color: #e23f35;
  font-weight: 700;
}
/* main */
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.para {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}
/* websiting */
.websiting {
  color: #000000;
  background-color: #f7f7f7;
  text-align: center;
  padding: 120px 0;
}
.websiting .container {
  padding: 0 85px;
}
.advantages {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 30px 0;
}
.advantage {
  width: calc(100% / 3 - 69px);
}
.advanTitle {
  display: inline-block;
  width: 207px;
  font-weight: 800;
  font-size: 58px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 11px 0;
  background-color: #db3d32;
  margin-bottom: 15px;
}
.advanPara {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.websiting img {
  margin-bottom: 30px;
}
/* works */
.works {
  color: #000000;
  text-align: center;
  padding: 120px 0;
  position: relative;
}
.cardList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
  margin-top: 60px;
}
.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: calc(100% / 2 - 15px);
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 5px;
  text-align: left;
  min-height: 220px;
}
.cardIcon {
  margin: auto 0;
  min-width: 127px;
}
.cardText {
  margin: auto 0;
}
.cardText h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
}
.worksItemImg {
  position: absolute;
  bottom: -130px;
  left: 0;
  z-index: 2;
}
/* selling */
.selling {
  padding: 56px 0 47px 0;
  background-color: #f7f7f7;
  text-align: center;
  position: relative;
  z-index: 1;
}
.selling .container {
  padding: 0 85px;
}
.gallery {
  max-width: 716px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px auto;
}
.sellingBg1 {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: -1;
}
.sellingBg2 {
  position: absolute;
  bottom: 0;
  left: -7px;
  z-index: -1;
}
/* steps */
.steps {
  padding-top: 40px;
  text-align: center;
  position: relative;
}
.steps .container {
  min-width: 1220px;
}
.steps .row {
  margin-top: 75px;
  justify-content: space-between;
}
.steps .col-lg-4 {
  margin-bottom: 45px;
}
.step {
  text-align: left;
  min-width: 404px;
  margin-bottom: 60px;
}
.stepTop {
  display: flex;
  align-items: center;
}
.steps .col-lg-4:first-child .stepTop {
  flex-direction: row-reverse;
  text-align: right;
}
.steps .col-lg-4:first-child .para {
  flex-direction: row-reverse;
  text-align: right;
}
.stepNum {
  font-weight: 900;
  font-size: 72px;
  line-height: 90px;
  text-align: right;
  color: #d33a2f;
  min-width: 90px;
}
.stepTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-left: 11px;
}
.loupe {
  position: absolute;
  bottom: 0;
  left: calc(50% - 253px / 2);
}
.cupAndMac {
  position: absolute;
  bottom: 0;
  left: calc(50% - 625px);
}
.penAndiphone {
  position: absolute;
  right: 0;
  bottom: 100px;
  z-index: -1;
}
/* results */
.results {
  padding-top: 120px;
  padding-bottom: 140px;
  background-color: #ececec;
  text-align: center;
}
.resultList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 58px;
  margin-bottom: 50px;
}
.listItem {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 25px 24px;
  min-width: 439px;
  min-height: 527px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  margin: 25px 15px;
}
img[alt="xls"] {
  margin-right: 15px;
}
.listItem span:hover {
  color: blue;
}
.listItem span {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #000000;
  display: inline-block;
}
.resultBtn {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 53px;
  background-color: #dd3e33;
  border-radius: 5px;
}
.resultBtn:hover {
  background-color: transparent;
  color: #000000;
  box-shadow: 0 0 10px 2px #dd3e33;
}
/* principles */
.principles {
  padding-top: 106px;
  padding-bottom: 160px;
  text-align: center;
  background-image: url(../img/prinBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
  color: #ffffff;
}
.principles::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(32, 32, 32, 0.8);
  z-index: -1;
}
.prinList {
  text-align: left;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 83px;
}
.prinItem {
  width: calc(100% / 3 - 60px);
  margin-bottom: 63px;
  position: relative;
}
.prinItem::before {
  content: " ";
  position: absolute;
  top: -5px;
  left: -50px;
  width: 43px;
  height: 34px;
  background-image: url(../img/tick.png);
}
.prinTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
}
.whiteNB {
  position: absolute;
  left: 0;
  top: 190px;
}
.groupLogo {
  position: absolute;
  left: 92px;
  top: 310px;
}
.bulletMarker {
  position: absolute;
  left: 180px;
  top: 240px;
}
.appleWatch {
  position: absolute;
  right: 115px;
  top: 225px;
}
.headphone {
  position: absolute;
  right: 200px;
  bottom: 0;
}
.objectCoffee {
  position: absolute;
  bottom: -200px;
  left: calc(50% - 200px);
}
/* virus */
.virus {
  padding-top: 216px;
  padding-bottom: 97px;
  background-color: #f7f7f7;
  text-align: center;
  position: relative;
}
.virusContent {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
}
.virusList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.virusListItem {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  position: relative;
}
.virusListItem::before {
  content: " ";
  position: absolute;
  background-image: url(../img/tick2.png);
  width: 34px;
  height: 40px;
  top: -10px;
  left: -54px;
}
.cables {
  position: absolute;
  top: 0;
  left: 190px;
}
.ipad {
  position: absolute;
  bottom: -335px;
  right: 0;
}
/* prices */
.prices {
  text-align: center;
  padding-top: 120px;
  color: #000000;
}
.priceList {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.priceListCard {
  padding: 38px 42px 30px 41px;
  width: calc(100% / 3 - 15px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.priceListCard h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.priceListCard .para {
  line-height: 26px;
}
.price {
  display: block;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  color: #d33a2f;
  margin-top: 9px;
  margin-bottom: 12px;
}
.priceBtn {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 51px;
  background-color: #363636;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}
.priceBtn:hover {
  color: #363636;
  background-color: transparent;
  box-shadow: 0 0 10px 2px #363636;
}
.tarifs {
  padding: 19px 30%;
  text-align: center;
  background-color: #d33a2f;
  color: #ffffff;
  font-weight: 200;
}
/* order */
.order {
  padding: 100px 0;
  background-color: #f7f7f7;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.order::before {
  content: " ";
  position: absolute;
  width: 896px;
  height: 500px;
  background-image: url(../img/sellingBg.png);
  z-index: -1;
  bottom: 210px;
  left: 145px;
  transform: rotate(90deg);
}
.order::after {
  content: " ";
  position: absolute;
  width: 896px;
  height: 500px;
  background-image: url(../img/sellingBg.png);
  z-index: -1;
  top: 180px;
  right: 125px;
  transform: rotate(270deg);
}
.form {
  background-color: #ffffff;
  padding: 60px 41px;
  max-width: 570px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.formItem,
.formArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 28px;
}
.formItem {
  width: calc(50% - 13px);
}
.formArea {
  width: 100%;
}
label {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}
input {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  padding: 7px 5px 8px 16px;
}
select {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  padding: 8px 5px 9px 12px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
textarea {
  width: 100%;
  padding: 7px 5px 8px 16px;
  resize: none;
}
.formBtn {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d33a2f;
  border-radius: 5px;
  padding: 14px 0;
  width: 100%;
  border: none;
}
.formBtn:hover {
  color: #000000;
  background-color: transparent;
  box-shadow: 0 0 3px 1px #d33a2f;
}
.lan {
  position: absolute;
  left: 0;
  top: 160px;
  z-index: -1;
}
.magniGlass {
  position: absolute;
  right: 0;
  top: 230px;
  z-index: -1;
}
.orderBg1 {
  position: absolute;
  bottom: 210px;
  left: 145px;
  transform: rotate(90deg);
  z-index: -1;
}
.orderBg2 {
  position: absolute;
  top: 0;
  transform: rotate(270deg);
  z-index: -1;
}
/* footer */
.footer {
  background-color: #202020;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerLinks a {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  color: #acacac;
}
.footerLinks a:hover {
  color: #ffffff;
}
.footerLinks a:first-child {
  margin-right: 35px;
}
.footerLinks i {
  margin-right: 15px;
}
.copyRight {
  font-weight: 300;
  font-size: 18px;
  line-height: 138%;
  text-align: right;
  letter-spacing: 0.28px;
  color: #acacac;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 13px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  max-width: 570px;
}
.popupContent {
  text-align: center;
  padding: 58px 41px 79px 40px;
  position: relative;
}
.closeBtn {
  position: absolute;
  top: 24px;
  right: 34px;
  cursor: pointer;
}
.popupForm {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.popFormBtn {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d33a2f;
  border-radius: 5px;
  padding: 14px 0;
  width: 100%;
  border: none;
}
.popFormBtn:hover {
  color: #000000;
  background-color: transparent;
  box-shadow: 0 0 3px 1px #d33a2f;
}
.overflow {
  overflow: hidden;
}
#back-to-top {
  display: none;
  position: fixed;
  right: 23px;
  bottom: 17px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  animation-duration: 1s;
  animation-fill-mode: both;
  z-index: 12;
}
#back-to-top:hover {
  background-color: rgba(255, 255, 255, 0);
  border-color: #fff;
}
#back-to-top:focus {
  outline: none;
}
#back-to-top svg path {
  fill: #fdb817;
}
#back-to-top:hover path {
  fill: #fff;
}
#back-to-top:after {
  content: "";
  position: absolute;
  top: 0;
  left: -80px;
  width: 0;
  height: 100%;
  transform: skewX(-55deg);
  opacity: 0.2;
  background-color: #fdb817;
  transition: 0.3s;
  z-index: -1;
}
#back-to-top:hover:after {
  left: -25px;
  width: 200%;
  opacity: 1;
}

/*************** responsiveness ********************/
@media (max-width: 1680px) {
  .notepad {
    left: 50px;
  }
  .spiralNB {
    left: 240px;
  }
  .appleMouse {
    left: 1050px;
  }
  .iphone7 {
    left: 1200px;
  }
  .coffeCup {
    left: 1300px;
  }
  .whiteNB {
    left: -50px;
    top: 210px;
  }
  .groupLogo {
    left: 40px;
    top: 330px;
  }
  .bulletMarker {
    left: 130px;
    top: 260px;
  }
  .appleWatch {
    right: 40px;
  }
}
@media (max-width: 1440px) {
  .popup {
    width: 450px;
  }
  .popupContent {
    padding: 30px 25px 40px 25px;
  }
  .notepad {
    left: -50px;
  }
  .spiralNB {
    left: 140px;
  }
  .appleMouse {
    left: 950px;
    top: 550px;
  }
  .iphone7 {
    left: 1100px;
    top: 420px;
  }
  .coffeCup {
    left: 1150px;
  }
  .whiteNB {
    top: 180px;
  }
  .groupLogo {
    top: 300px;
  }
  .bulletMarker {
    top: 230px;
  }
  .appleWatch {
    right: 40px;
  }
  .worksItemImg {
    bottom: -165px;
  }
  .penAndiphone {
    bottom: 190px;
  }
  .cables {
    width: 15%;
  }
  .ipad {
    width: 12%;
    bottom: -100px;
  }
  .headerTop a {
    font-size: 12px;
  }
  .heroTitle {
    font-size: 45px;
    line-height: 50px;
  }
  .heroTitle span {
    font-size: 36px;
    line-height: 36px;
  }
  .nav-link {
    font-size: 14px;
  }
  .heroPara {
    font-size: 18px;
  }
  .brand2 {
    display: inline-block;
  }
  .brand2 img {
    width: 120px;
    display: inline-block;
    margin: auto;
  }
  .headerBottom {
    max-height: 90px;
    padding: 18px 0;
  }
  .headerBottom .title {
    font-size: 22px;
    line-height: 25px;
  }
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .para {
    font-size: 14px;
    line-height: 18px;
  }
  .advanTitle {
    font-size: 44px;
    padding: 6px 0;
  }
  .advanPara {
    font-size: 14px;
    line-height: 18px;
  }
  .websiting {
    padding: 80px 0;
  }
  .cardText h6 {
    font-size: 18px;
    line-height: 30px;
  }
  .card {
    min-height: 170px;
  }
  .works {
    padding: 80px 0;
  }
  .steps .col-lg-4 {
    margin-bottom: 30px;
    max-width: 29%;
  }
  .steps .row {
    margin-top: 40px;
    justify-content: space-around;
  }
  .step {
    min-width: auto;
  }
  .stepNum {
    font-size: 52px;
    line-height: 70px;
    min-width: 65px;
  }
  .stepTitle {
    font-size: 20px;
    line-height: 22px;
  }
  .loupe {
    width: 15%;
    left: calc(50% - 216px / 2);
  }
  .cupAndMac {
    width: 30%;
    left: calc(50% - 545px);
  }
  .results {
    padding: 80px 0;
  }
  .resultList {
    margin: 30px 0;
  }
  .principles {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  .prinList {
    justify-content: center;
    margin-top: 50px;
  }
  .prinTitle {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 12px;
  }
  .prinItem {
    width: calc(100% / 2 - 180px);
    margin-bottom: 55px;
    margin-left: 150px;
  }
  .virus {
    padding-top: 160px;
    padding-bottom: 75px;
  }
  .virusListItem {
    font-size: 14px;
  }
  .virusContent {
    justify-content: space-around;
  }
  .virusContent img {
    width: 40%;
  }
  .prices {
    padding-top: 80px;
  }
  .priceList {
    justify-content: space-evenly;
  }
  .priceListCard {
    padding: 28px 32px 20px 31px;
    width: calc(100% / 3 - 60px);
  }
  .priceListCard h4 {
    font-size: 20px;
    line-height: 30px;
  }
  .order::before {
    bottom: 160px;
    left: -140px;
  }
  .order::after {
    top: 180px;
    right: -150px;
  }
  .lan {
    width: 25%;
    top: 200px;
  }
  .magniGlass {
    width: 20%;
    top: 300px;
  }
  .order {
    padding: 80px 0;
  }
  img[alt="footerLogo"] {
    width: 120px;
    display: inline-block;
    margin: auto;
  }
}
@media (max-width: 1366px) {
  .popupContent {
    padding: 20px 25px 15px 25px;
  }
  .mac {
    width: 45%;
    top: 0;
    left: calc(50% - 45% / 2);
  }
  .clv {
    width: 25%;
    bottom: -70px;
    left: calc(50% - 25% / 2);
  }
  .notepad {
    width: 18%;
    height: auto;
    left: 70px;
    top: 150px;
  }
  .spiralNB {
    width: 15%;
    height: auto;
    left: 250px;
    top: 350px;
  }
  .coffeCup {
    width: 12%;
    height: auto;
    left: 1050px;
    top: 150px;
  }
  .iphone7 {
    width: 10%;
    height: auto;
    left: 1000px;
    top: 350px;
  }
  .appleMouse {
    width: 10%;
    left: 850px;
    top: 460px;
  }
  .hero {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  .cardList {
    justify-content: center;
    margin-top: 50px;
  }
  .card {
    padding: 0 25px;
    min-height: 150px;
    width: calc(100% / 2 - 140px);
    margin-left: 30px;
  }
  .cardIcon {
    margin: auto 0;
    min-width: 80px;
    margin-right: 20px;
  }
  .cardIcon img {
    width: 100%;
  }
  .worksItemImg {
    width: 10%;
    bottom: -50px;
  }
  .penAndiphone {
    width: 10%;
    height: auto;
    bottom: 300px;
  }
  .cupAndMac {
    left: calc(50% - 525px);
  }
  img[alt="resultLogo"] {
    width: 70px;
  }
  img[alt="resultImg"] {
    width: 80%;
  }
  .listItem {
    padding: 20px 15px 24px;
    min-height: 460px;
    margin: 10px;
  }
  .appleWatch {
    width: 11%;
    right: 40px;
    top: 120px;
  }
  .headphone {
    width: 12%;
    right: 100px;
  }
  .tarifs {
    padding: 15px 20%;
  }
}
@media (max-width: 1280px) {
  .appleWatch {
    top: 80px;
  }
}
@media (max-width: 1024px) {
  .mac {
    width: 460px;
    top: 0;
    left: calc(50% - 460px / 2);
  }
  .notepad {
    width: 184px;
    left: 40px;
    top: 160px;
  }
  .spiralNB {
    width: 154px;
    left: 150px;
    top: 380px;
  }
  .clv {
    width: 250px;
    bottom: -50px;
    left: calc(50% - 250px / 2);
  }
  .appleMouse {
    width: 102px;
    left: 630px;
    top: 520px;
  }
  .iphone7 {
    width: 102px;
    left: 800px;
    top: 400px;
  }
  .coffeCup {
    width: 12%;
    left: 820px;
    top: 160px;
  }
  .cardList {
    justify-content: space-evenly;
  }
  .card {
    padding: 0 25px;
    min-height: 150px;
    width: calc(100% / 2 - 40px);
    margin-left: 0;
  }
  .steps .container {
    min-width: 960px;
  }
  .steps .row {
    margin-top: 30px;
    justify-content: space-around;
  }
  .steps .col-lg-4 {
    margin-bottom: 30px;
    min-width: 36%;
  }
  .step {
    min-width: auto;
    margin-bottom: 35px;
  }
  .loupe {
    width: 150px;
    height: auto;
    bottom: 0;
    left: calc(50% - 72px);
  }
  .cupAndMac {
    width: 300px;
    left: calc(50% - 370px);
  }
  .whiteNB {
    width: 200px;
    height: auto;
    left: -25px;
    top: 335px;
  }
  .groupLogo {
    width: 60px;
    height: auto;
    left: 25px;
    top: 400px;
  }
  .bulletMarker {
    width: 70px;
    left: 75px;
    top: 363px;
  }
  .prinList {
    justify-content: center;
  }
  .prinItem {
    width: calc(100% / 2 - 180px);
    margin-bottom: 55px;
    margin-left: 70px;
  }
  .prinItem::before {
    top: 0;
    left: -35px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .virusContent {
    justify-content: space-evenly;
  }
  .listItem {
    min-width: 350px;
    padding: 20px 0px 14px;
    min-height: 440px;
  }
  .listItem span {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 768px) {
  .popup {
    width: 380px;
  }
  .notepad {
    left: -50px;
    top: 150px;
  }
  .spiralNB {
    left: 50px;
    top: 350px;
  }
  .appleMouse {
    left: 500px;
    top: 430px;
  }
  .iphone7 {
    left: 610px;
    top: 330px;
  }
  .coffeCup {
    width: 120px;
    height: auto;
    left: 640px;
    top: 150px;
  }
  .hero {
    padding: 150px 0;
  }
  .heroPara {
    font-size: 14px;
    padding: 0 100px;
  }
  .headerBottom {
    max-height: 60px;
    padding: 10px 0;
  }
  .headerBottom .title {
    font-size: 16px;
    line-height: 20px;
  }
  .websiting .container {
    padding: 0 15px;
  }
  .advanTitle {
    width: 160px;
    font-size: 40px;
    line-height: 36px;
    padding: 7px 0;
    margin-bottom: 10px;
  }
  img[alt="mega-topу"] {
    width: 500px;
    height: auto;
  }
  .cardIcon img {
    width: 80%;
  }
  .cardIcon {
    margin: 0;
    min-width: 40px;
    margin-bottom: 5px;
  }
  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 10px;
  }
  .selling {
    overflow: hidden;
  }
  .gallery {
    justify-content: center;
  }
  .steps .container {
    min-width: 720px;
  }
  .steps .col-lg-4 {
    margin-bottom: 30px;
    max-width: 48%;
  }
  .loupe,
  .whiteNB,
  .bulletMarker,
  .groupLogo,
  .appleWatch,
  .headphone,
  .cables {
    display: none;
  }
  .cupAndMac {
    left: calc(50% - 300px);
  }
  .listItem {
    min-width: 0;
    max-width: 300px;
    min-height: 360px;
  }
  .prinItem {
    width: calc(100% / 2 - 80px);
    margin-bottom: 55px;
    margin-left: 50px;
  }
  .objectCoffee {
    width: 200px;
    height: auto;
    left: calc(50% - 100px);
    bottom: -100px;
  }
  .principles {
    padding: 55px 0;
  }
  .virus {
    padding: 100px 0 60px;
  }
  .priceListCard {
    min-width: 350px;
    /* margin: 0 184px; */
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .priceListCard img {
    margin: 0 auto;
  }
  .priceList {
    margin-top: 40px;
    margin-bottom: 50px;
    display: block;
  }
  .slick-prev {
    left: 75px;
  }
  .slick-next {
    right: 75px;
  }
  .footerLinks {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footerLinks a:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .copyRight,
  .footerLinks {
    width: 35%;
  }
}
@media (max-width: 767px) {
  .brand1 {
    width: 105px;
    display: block;
  }
  .brand1 img {
    width: 100%;
  }
  .brand2 {
    display: none;
  }
  .advantages {
    margin: 30px -90px;
  }
  .advantage {
    width: calc(100% / 3);
  }
  .advanTitle {
    width: 120px;
    font-size: 36px;
    line-height: 30px;
    padding: 5px 0;
    margin-bottom: 10px;
  }
  .heroPara {
    font-size: 12px;
    padding: 0 25px;
  }
  .card {
    width: 100%;
    flex-direction: row;
    text-align: left;
    padding: 20px;
  }
  .cardIcon {
    margin: 0;
    min-width: 100px;
    margin-bottom: 5px;
  }
  .title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .para {
    font-size: 12px;
    line-height: 16px;
  }
  .selling .container {
    padding: 0;
  }
  .listItem {
    min-width: 0;
    max-width: 250px;
    min-height: 300px;
    padding: 10px;
  }
  img[alt="xls"] {
    margin-right: 0;
  }
  .resultList {
    margin: 15px 0 25px;
  }
  .results {
    padding: 60px 0;
  }
  .prinItem {
    width: calc(100% / 2 - 26px);
    margin-bottom: 55px;
    margin-left: 26px;
  }
  .virusListItem::before {
    width: 15px;
    top: 0;
    left: -25px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .tarifs {
    padding: 10px 10%;
  }
  .footerLinks a:first-child {
    margin-bottom: 3px;
  }
  .footerLinks {
    align-items: flex-start;
  }
  .footerLinks a,
  .copyRight {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .closeBtn {
    top: 15px;
    right: 15px;
  }
  .popup {
    width: 280px;
  }
  .popupContent {
    padding: 10px;
  }
  .popup .title {
    font-size: 16px;
    margin-bottom: 0;
  }
  .popFormBtn {
    padding: 8px 0;
  }
  .popup label {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .popup input {
    padding: 4px 4px 4px 4px;
  }
  .popup .formItem {
    margin-bottom: 8px;
  }
  .popup textarea {
    padding: 4px 0px 0px 7px;
  }
  .popup .formArea {
    margin-bottom: 10px;
  }
  .headerTop {
    display: none;
  }
  .navbar {
    justify-content: space-around;
  }
  .navbar-toggler {
    width: 91.83px;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  .mobilePhone {
    display: block;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #acacac;
  }
  .mobilePhone i {
    margin-right: 6px;
  }
  .hero img {
    display: none;
  }
  .heroTitle {
    font-size: 28px;
    line-height: 35px;
  }
  .heroTitle span {
    font-size: 22px;
    line-height: 22px;
  }
  .heroPara {
    font-size: 12px;
    line-height: 16px;
    padding: 0 25px;
  }
  .websiting,
  .works,
  .prices {
    padding: 40px 0;
  }
  .advantages {
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .advantage {
    width: 100%;
    margin-bottom: 15px;
  }
  img[alt="mega-topу"] {
    width: 300px;
    height: auto;
  }
  .cardList {
    margin: 40px 0;
  }
  .card {
    width: 90%;
    padding: 10px 15px;
  }
  .selling .container {
    padding: 0 15px;
  }
  .penAndiphone {
    display: none;
  }
  .steps .row {
    margin-top: 30px;
    margin-bottom: 150px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .steps .col-lg-4 {
    margin-bottom: 0;
    max-width: 80%;
  }
  .steps .container {
    min-width: 0;
    width: 100%;
    padding: 0 15px;
  }
  .steps .col-lg-4:first-child .stepTop {
    flex-direction: row;
    text-align: left;
  }
  .steps .col-lg-4:first-child .para {
    text-align: left;
  }
  .cupAndMac {
    position: absolute;
    bottom: -150px;
    left: calc(50% - 150px);
  }
  .prinItem {
    width: 70%;
    margin-bottom: 55px;
    margin-left: 50px;
  }
  .container {
    padding: 0 15px;
  }
  .virusContent {
    flex-wrap: wrap;
  }
  .virusList {
    width: 60%;
    margin-bottom: 15px;
  }
  .virusContent img {
    width: 80%;
  }
  .ipad {
    display: none;
  }
  .tarifs {
    padding: 15px 0;
  }
  .formItem {
    width: 100%;
    margin-bottom: 20px;
  }
  .form {
    padding: 40px 21px;
    max-width: 350px;
  }
  .title {
    font-size: 20px;
    margin-bottom: 0;
  }
  .cardText h6 {
    font-size: 16px;
    line-height: 30px;
  }
  .cardIcon {
    margin: 0;
    min-width: 80px;
    margin-bottom: 5px;
  }
  .worksItemImg {
    display: none;
  }
  .priceListCard {
    min-width: 320px;
    padding: 18px 15px 20px 15px;
  }
  .headerBottom .title {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 375px) {
  .tarifs {
    padding: 15px 5px;
  }
  .navigation .container {
    padding: 0 3px;
  }
  .footer .container {
    padding: 0 3px;
  }
  .footerLinks i {
    margin-right: 5px;
  }
  .footerLinks {
    align-items: center;
  }
  .copyRight {
    text-align: center;
  }
  .priceListCard {
    min-width: 280px;
    padding: 18px 15px 20px 15px;
  }
  img[alt="footerLogo"] {
    width: 80px;
    display: inline-block;
    margin: auto;
  }
  .copyRight,
  .footerLinks {
    width: 37%;
  }
  .gallery img {
    width: 50%;
  }
  .steps .col-lg-4 {
    margin-bottom: 0;
    max-width: 95%;
  }
}
